body{
    display: flex;
    min-height: 100vh;
    background: url(https://i.pinimg.com/564x/d9/a7/d8/d9a7d84754d31ba72dfc47cb40988ac6.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnLogin-popup{
    width: 130px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup:hover{
    background: #fff;
    color: black;
}

h2{
    color: white;
    text-align: center;
}

.input-box{
    color: white;
    padding: 10px;
    text-align: right;
}

.form-box{
    border:2px;
    border-color: white;
}

.semnúemro{
    color: white;
}

.input-boxsexo{
    text-align: right;
}

.formdados{
    margin-top: 20%;
    float: left;
    border: 3px solid #fff;
    outline: none;
    border-radius: 16px;
    width: 480px;
    height: 310px;
    text-align: left;
}

.formede{
    float: right;
    border: 3px solid #fff;
    outline: none;
    border-radius: 16px;
    width: 480px;
    height: 350px;
    display: block;
}
    border-radius: 16px;
}

.ede{
    float: right;
} 

.semnúemro{
    color: white;
}
